@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400;600&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/4.png);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    
}

.nav-link.text-white:hover {
    color: #111 !important;
}

.nav-link.text-white {
    font-size: 18px;
}


h1 {
    text-align: center;
    font-size: 20px;
}


p {
    text-align: center;
    font-size: 12px;
}

.required {
    color: red;
}

/* Estilo geral do formulário */
.container.mx-auto {
    max-width: 50%; 
    max-height: 10%;
    margin-top: 10px; 
    margin-bottom: 50px; 
    padding: 5px; 
    
    border-radius: 10px; 
}

/* Estilos para o container da parte específica do formulário */
.part-form-container {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 5px; 
}



/* Estilos para o formulário */
#trabalheConoscoForm {
    max-width: 300%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.form-section {
    background-color: #e4dfdc;
    margin-bottom: 10px;
    padding: 10px; 
}


/* Estilo dos campos de entrada */
input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo dos rótulos */
label {
    font-weight: bold;
}

/* Estilo dos botões */
button[type="submit"],
button[type="button"] {
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #111;
    color: #f5f5f5;
}

/* Estilo da mensagem de sucesso */
.mensagem-sucesso {
    display: none;
    background-color: #19b6bb !important; 
    color: #111; 
    text-align: justify;
    padding: 30px;
    width: 300px;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 9999; 
    border-radius: 10px; 
}

.mensagem-sucesso p {
    text-align: center;
    font-size: 12px;
    
}

/* Estilos dos links de WhatsApp e E-mail */
.custom-link {
    color: #111; 
}

.custom-link:hover {
    color: #f60727; 
    transition: color 0.3s; 
}

.rodape{
    text-align: center;
    
}


/* Estilize o formulário */
#trabalheConoscoForm label,
#trabalheConoscoForm input,
#trabalheConoscoForm select,
#trabalheConoscoForm h5,
#trabalheConoscoForm p {
    font-size: 12px; 
}

/* Reduza o tamanho da fonte para elementos com a classe "small-font" */
.small-font {
    font-size: 12px;
}


/* Estilize o rodapé */
footer {
    font-size: 12px; 
}

/* Estilos para telas pequenas (largura máxima de 767px) */
@media (max-width: 767px) {
    body {
        font-size: 14px; 
    }

    h1 {
        font-size: 18px; 
    }

    p {
        font-size: 10px; 
    }

    /* Estilo geral do formulário para telas pequenas */
    .container.mx-auto {
        max-width: 90%; 
        margin-top: 5px; 
        margin-bottom: 30px; 
        padding: 5px;
    }

    /* Estilo dos campos de entrada para telas pequenas */
    input[type="text"],
    input[type="email"],
    input[type="date"],
    select {
        font-size: 12px; 
    }

    /* Estilo dos rótulos para telas pequenas */
    label {
        font-weight: bold;
        font-size: 12px; 
    }

    /* Estilo dos botões para telas pequenas */
    button[type="submit"],
    button[type="button"] {
        padding: 8px 16px; 
        font-size: 12px; /
    }

    /* Estilize o rodapé para telas pequenas */
    footer {
        font-size: 10px; 
    }
}
